.dc-footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 7.5vh;
    border-top: 1px solid #b3b3b3;
}

.footer-img-style{
    height: 10px;
    width: 16px;
}

.footer-text-style{
    margin:0 0 0 0.5rem;
    color:#b9b9b9;
    font-size: 0.75rem;
}

