.dc-one-column-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 84vh;
}

.dc-one-column-subContainer{
    width: 600px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border:2px solid #1A73E8;
}